@font-face {
  font-family: 'Inconsolata';
  src: url('/Inconsolata-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IndieFlower';
  src: url('/IndieFlower-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bs-body-font-family: 'IndieFlower'; /* Default font family */
  --bs-font-monospace: 'Inconsolata', 'Courier New', monospace;
}

html,
body,
header .navbar {
  /* background-color: aliceblue !important; */
}
button,
a {
  /*
  background-color: white !important;
  color: black !important;
  */ 
}
#vinyl_brand {
  /* display: none !important; */
}

#copyright {
  /*  color: white; */
}

#copyright a {
  text-decoration: none;
}

/* header, */
header #vinyl_share,
header #sort_button,
header .navbar-toggler {
  display: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

footer {
    box-sizing: border-box;
    position: relative;
    margin-top: auto;
}
